extends layout

block body
  .navbar
    a.site-title(href="/") LEAVEFLOW
  .error-page
    h1 404
    h2 Page Not Found
    p Sorry, the page you are looking for does not exist.
    br
    a.btn.btn-primary(href="/login") Go to Login Page
  .site-footer
    | Faculty Leave Management System &copy; 2024
